body.page-template-budz-php{background: #160101 url(images/headers/budzutsu.jpg) no-repeat top center;}


.training-menu{
  margin-bottom:30px;
}
.training-menu li{
  float:left;
  line-height:40px;
  width: 105px;
  text-align: center;
  & a{text-decoration: none;}
  &.current_page_item{background: url(images/training-menu-current.png) no-repeat;}
}
body.page-template-budz-php blockquote{
  margin-top: em(-16);
  margin-bottom: em(36);
  font-style: italic;
  color:#b29e9e;
}
body.page-template-budz-php ol{
  counter-reset:li;
}
body.page-template-budz-php ol>li{
  position:relative;
  margin:0 0 6px 30px;
  padding:4px;
  &:before{
    content:counter(li);
    counter-increment:li;
    position:absolute;
    top:8px;
    left:-2em;
    width: 20px;
    height: 20px;
    margin-right:8px;
    padding-top:0;
    background:#666;
    text-align: center;
    @include border-radius(20px);
    line-height: 20px;
    font-size: 14px;
    background-color: #ae0a0f;
  }
}
.training-program{
  font-size:em(20);
  color:#d5b370;
}