// footer
.site-footer{
  padding-top:24px;
  padding-top:2.4rem;
  background: #fff;
  color:$alttextcolor;
  & a{
    color:#000;
    &:hover{color:$linkcolor-hover}
    }
}
.row .footer-links{
  @include baseline-gap(48);
}
#menu-footer-nav li{
  white-space: nowrap;
  padding: 0 15px 0 0;
  float:left;
}