body.page-template-main-php{
  background: #010000;

}
body.page-template-main-php .site-header{
  height:480px;
@media only screen and (max-width: $break-small) {
  height: auto;
}
}
.logo{
  z-index: 20;

}
  .header-enlist{
    width:100%;
    max-width:200px;
    margin-top:34px;
    display: table;
  }
  .site-header .header-enlist-a{
    text-decoration:none;
    font-style: italic;
    color:$linkcolor-hover;
    white-space: nowrap;
    border-bottom: 1px dashed $linkcolor-hover;
    display:inline;
    @extend .transition;
    &:hover{
      border-bottom: 1px dashed darken($linkcolor-hover,25%);
      color: darken($linkcolor-hover,25%);
    }
  }
body.page-template-main-php .main-nav li{
  line-height: 35px;
  white-space: nowrap;
  width:100%;
  @media only screen and (max-width: $break-small) {width:160px;}
  min-width: 160px;
  margin-bottom:0;
}
body.page-template-main-php .social-and-languages{
 float:left;
}
// Slider
.header-slider-block{
  z-index: -1;
  position: absolute;
  width:100%;
  height:484px;
  // background:#eee;
  overflow: hidden;
  @media only screen and (max-width: $break-small) {display:none;}
.header-slider-box{
  height: 489px!important;
}
.slide{
  width:100%;
  height: 484px;
}
}
.header-slider-title{
  z-index: 2;
  font-size:em(28);
  margin-bottom:0px;
}
.header-slider_content{
  margin-top: em(70);
}

.header-slider-buttons{
margin-left: em(44);
margin-top: em(320);
}
.header-slider-button{
  margin-right: 6px;
  float: left;
  & a {
    background:#6b5d3f;
    display:block;
    width:12px;
    height:12px;
    @include border-radius(20px);
    &:hover{background:#c61a12;}
  }
}
.header-slider-button a.current{background:#c61a12;}

// News-block

.newsblock-bg{
  min-height:em(212);
  padding-top: em(12);
  background: #9e1300 url(images/main-news-bg.jpg) no-repeat top center;
  @media only screen and (max-width: $break-small) {
  background-image: none;}
}
.newsblock-article{padding-right: em(40);}

.newsblock-article-title{
  font-size:em(16);
  font-weight: bold;
}
.newsblock-article p {
  overflow: hidden;
  max-height: em($baseline-height*3);
  margin-bottom:em(4);
}

.newsblock-article-date{color:#ef7756;font-style: italic;}

// Main content

.main-content-bg{
  background:#fff;
  color:$alttextcolor;
  padding-bottom:  em($baseline-height);
}
.main-content-bg a{color:$altlinkcolor; &:hover{color:$linkcolor-hover}}
.main-content-bg .main-content{
  overflow:visible;
  padding-top: em(36);
}

// Programs
.program{position: relative;}
.main-content .program-collapsed{
  height:71px;
  min-height:71px;
  max-height:71px;
  padding: 5px 10px;
  width:13%;
  margin:0 5px 24px;
  background: #fbe9bf url(images/program-bg.jpg) repeat-x bottom;
  display: table;
  line-height: em(20);
  @include border-radius(5px, 5px);
  @media only screen and (max-width: $break-small) {
  height: em(60);
  }
}
.main-content .program-collapsed a{
  vertical-align: middle;
  display: table-cell;
  text-decoration: none;
}
.main-content .program-collapsed a span{
  display: inline;
  border-bottom: 1px dashed  lighten($altlinkcolor, 30%);
}
.program-expanded{
  font-size:em(14);
  padding: 24px 20px 0;
  position: absolute;
  width: 250px;
  display: none;
  background:#f5e2b3;
  z-index: 100;
  top:0;
  left:0;
  @include border-radius(5px, 5px);
 }
.program-expanded-header{
  font-size:em($basefont-size,14);
  line-height:em($baseline-height,14);

 }

.tab-pane.active { display: block; }

.program-close-btn{
  width:12px;
  height: 12px;
  position: absolute;
  right:15px;
  top:15px;
  cursor: pointer;
  background: url(images/program-close-btn.png);
}


// Тексты главной страницы

.row .main-page_entry-title{
  font-weight: bold;
  font-size:em(40);
  line-height:em(48,40);
  margin-top:em($baseline-height/2,40);
  margin-bottom:em($baseline-height/2,40);

}
.main-second-articles-header{
  // @include font-size(40);
  // @include line-height(48);
}
.main-second-articles-text{
 overflow: hidden;
 max-height: em($baseline-height*9);
 margin-bottom: em(4);

}

// Победители
.main-winner-block{
  margin-bottom: 0;
}
.main-winner-name{
  font-size:em(18);
  line-height:em(24,18);
  margin-bottom:em(0);
  color:#70561d;
  font-weight: lighter;
}
.main-winner-text{
  font-size:em(14);
  font-style: italic;}

// Клубы

.main-clubs-block{
  background: #dccb8f;
  color:$alttextcolor;
}
.main-clubs-title{
  margin-bottom: em($baseline-height,28);
  margin-top: em($baseline-height,28);
}
.main-clubs-block .row{
  // width:90%;
}
.main-club-header-metro{
  padding-top: 2px;
  padding-right: 0px;
  font-size:em(14);
  @include border-radius(20px);
  background: #f80000;
  text-align: center;
  height: 24px;
  width: 24px;
  float: left;
  color: white;
  margin-right: 5px;
  font-weight: bold;
}
.main-club-text{
  min-width:160px;
  font-size:em(14);
  margin-left: 30px;
}
.main-club-text h4{
  font-weight: bold;
  white-space:nowrap;
  font-size:em($basefont-size,14);
  line-height:em(24);
  margin-bottom:0;
}
