.entry-title{
  font-size:em(48);
  // line-height:em(72,48);
  margin-bottom: em($baseline-height,48)
}
.ngg-left{margin-right:20px;}
.page .entry-content{
  margin-bottom: 48px;
}
.entry-content li, .modal li{margin-left: 30px; list-style:disc;}
