body.page-id-15{
  background:#08121E url(images/headers/medal.jpg) no-repeat top center;
}
body.page-id-15 .entry-content{margin-bottom: 0;}
.sbornaya_list-p{
  color:#aeacac;
}
.sportsmans{margin-bottom: em(48);}
// .sportsman-block{@include baseline-gap(48);}

// .sportsman-block:nth-child(4n){margin-right: 0}
.sportsman-block{
  margin-bottom: em($baseline-height);
  img{
    border: 3px solid white;
  }
}
.sportsman_rank{
  font-size:em(14);
  color:#6f6f6f;
  font-style: italic;
  margin-bottom:0;
}
.sportsman_dan{
  font-size:em(14);
  color:#d00000;

}
.sportsman_description{
  margin-top:8px;
  max-width: 180px;
}
.spartsman-no-photo{
  background: lighten(#07111d,5%);
  border:3px solid white;
  text-align:center;
  color:#6f6f6f;
  padding-top: 80px;
  vertical-align: middle;
  font-size:em(24);
  width: 188px;
  height: 240px;
}
.modal-images{
  width:500px;
  margin:0 auto;
}
.page-template-sbornaya-php .modal img{
  margin-right: 10px;
}